/* ======================= MEDIA ======================= */
@media screen and (min-width: 375px) {
    .container {
        max-width: 366px;
    }

    .benefits-item {
        max-width: 308px;
    }

    .hero-button {
        padding: 12px 28px;
    }

}

/* ======================= TABLET ======================= */

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
        /* ширина контенту + падінги 15рх*2 */
    }

    .section-title {
        font-size: 24px;
        line-height: 1.17;
    }

    .benefits {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .benefits-list {
        gap: 32px;
    }

    .benefits-item {
        max-width: unset;
        width: calc((100% - 32px) / 2);
    }

    .products {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .products-title {
        max-width: 411px;
        margin-bottom: 28px;
    }

    .products-text {
        margin-bottom: 50px;
    }

    .products-list {
        gap: 32px;
    }

    .products-item {
        width: calc((100% - 32px) / 2);
        padding: 32px;
    }

    .made {
        padding-bottom: 80px;
    }

    .made>.container {
        max-width: 644px;
    }

    .made-title {
        margin-bottom: 50px;
    }

    .made-content {
        width: 100%;
        padding: 32px;
    }

    .made-item-text {
        max-width: 464px;
    }

    .loved {
        padding-bottom: 80px;
    }

    .loved-title {
        margin-bottom: 90px;
    }

    .loved-list {
        gap: 60px 16px;
        margin-bottom: 50px;
    }

    .loved-item {
        width: calc((100% - 16px) / 2);
    }

    .loved-button {
        padding: 14px 40px;
    }

    .hero-container {
        padding: 670px 40px 40px;
        background-image: linear-gradient(180deg,
                rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.4) 100%),
            url(../images/hero/hero-tablet-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-container {
            background-image: linear-gradient(180deg,
                    rgba(17, 17, 17, 0) 0%,
                    rgba(17, 17, 17, 0.4) 100%),
                url(../images/hero/hero-tablet-2x.jpg);
        }
    }

    .hero-title {
        font-size: 28px;
        line-height: 1.21;
        max-width: 484px;
        letter-spacing: -0.84px;
    }

    .hero-button {
        padding: 14px 40px;
    }

    .hero-link {
        padding: 14px 40px;
    }

    .hero-scroll-link {
        margin-left: auto;
        margin-top: unset;
    }

    .hero-scroll-link span {
        width: 38px;
        height: 38px;
    }

    .hero-arrow-icon {
        width: 22px;
        height: 22px;
    }

    .header-logo {
        font-size: 18px;
    }

    .header-menu {
        display: flex;
        gap: 24px;
    }

    .header-soc {
        display: flex;
        gap: 18px;
        margin-left: 48px;
    }

    .open-menu-button {
        display: none;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 50px;
        margin-bottom: 24px;
    }

    .footer-title {
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: unset;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-menu {
        flex-direction: row;
        gap: 16px;
        margin-bottom: unset;
    }

    .subs-input {
        width: 233px;
        padding: 14px 24px;
    }

    .subs-button {
        padding: 14px 28px;
    }

    .modal {
        width: 100%;
        max-width: 517px;
        height: 100%;
        max-height: 694px;
        padding: 40px;
        overflow: hidden;
    }

    .close-modal-button {
        width: 28px;
        height: 28px;
        right: 24px;
        top: 24px;
    }

    .close-icon {
        width: 28px;
        height: 28px;
    }

    .modal-title {
        font-size: 24px;
        max-width: 298px;
        margin-bottom: 40px;
    }

    .modal-input-wrap {
        margin-bottom: 18px;
    }

    .modal-input {
        height: 68px;
        padding-left: 62px;
        padding-right: 24px;
    }

    .modal-input::placeholder,
    .modal-textarea::placeholder {
        font-size: 18px;
    }

    .input-icon {
        left: 24px;
    }

    .modal-textarea {
        height: 137px;
        padding: 22px 24px;
    }

    .check-text {
        font-size: 14px;
    }

    .send-button {
        padding: 14px 40px;
    }
}

/* ======================= DESKTOP ======================= */

@media screen and (min-width: 1166px) {
    .container {
        max-width: 1166px;
    }


    .benefits-list {
        gap: 88px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .benefits-item {
        width: calc((100% - 176px) / 3);
    }

    .benefits-item:not(:last-child):after {
        position: absolute;
        content: "";
        display: block;
        right: -18px;
        top: 60px;
        height: 124px;
        width: 1px;
        background-color: var(--white-color-transparent);
    }

    .products {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .products-list {
        gap: 19px;
    }

    .products-item {
        width: calc((100% - 19px * 3) / 4);
    }

    .made>.container {
        max-width: 1166px;
    }

    .made-wrap {
        flex-wrap: nowrap;
        gap: 20px;
    }

    .made-content {
        width: 516px;
    }

    .made-item:not(:last-child) {
        margin-bottom: 24px;
    }

    .loved {
        padding-bottom: 100px;
    }

    .loved-list {
        gap: 28PX;
    }

    .loved-item {
        width: calc((100% - 28px * 2) / 3);
    }

    .hero-container {
        padding-top: 381px;
        background-image: linear-gradient(180deg,
                rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.4) 100%),
            url(../images/hero/hero-desktop-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-container {
            background-image: linear-gradient(180deg,
                    rgba(17, 17, 17, 0) 0%,
                    rgba(17, 17, 17, 0.4) 100%),
                url(../images/hero/hero-desktop-2x.jpg);
        }
    }

    .header-soc {
        margin-left: 90px;
    }

    .subs-input {
        width: 313px;
        height: 52px;
    }

    .subs-button {
        padding: 17px 40px;
    }
}