:root {
  --project-font: Montserrat, sans-serif;
  --black-color: #111111;
  --black-color-transparent: #111111b3;
  --violet-color: #1e1823;
  --accent-color: #fd9222;
  --white-color: #ffffff;
  --white-color-transparent: #ffffffb3;
  --hover-color: #fcf1e0;
  --bcg-body-color: #fafafa;
  --animation-set: 250ms linear;
}

body {
  font-family: var(--project-font);
  color: var(--black-color);
  letter-spacing: -0.02em;
  background-color: var(--bcg-body-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--black-color);
  font-style: normal;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: var(--accent-color);
}

.container {
  width: 100%;
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

/** --------------------- HEADER --------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo span {
  font-style: italic;
}

.header-menu {
  display: flex;
  gap: 24px;
}

.header-menu-item {}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-color);
  transition: color var(--animation-set);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-color);
}

/* .header-menu-link:is(:hover, :focus) {
  color: var(--accent-color);
} */

.header-soc {
  display: flex;
  gap: 18px;
  margin-left: 90px;
}

.header-soc-item {}

.header-soc-icon {
  fill: var(--black-color);
  transition: fill var(--animation-set);
}

.header-soc-link:hover .header-soc-icon,
.header-soc-link:focus .header-soc-icon {
  fill: var(--accent-color);
}

/** --------------------- HERO --------------------- */
.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-color: #ebb76a;
  background-image: linear-gradient(180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 381px 40px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white-color);
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  padding: 14px 40px;
  border-radius: 100px;
  margin-right: 14px;
  transition: background-color var(--animation-set), color var(--animation-set);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
  color: var(--accent-color);
}

.hero-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid var(--white-color);
  transition: border-color var(--animation-set), color var(--animation-set);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--white-color);
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: color var(--animation-set);
}

.hero-scroll-link span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: background-color var(--animation-set);
}

.hero-arrow-icon {
  fill: var(--accent-color);
  transition: fill var(--animation-set);
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: var(--accent-color);
}

.hero-scroll-link:hover span,
.hero-scroll-link:focus span {
  background-color: var(--accent-color);
}

.hero-scroll-link:hover .hero-arrow-icon,
.hero-scroll-link:focus .hero-arrow-icon {
  fill: var(--white-color);
}

/** --------------------- BENEFITS --------------------- */
.benefits {
  background-color: var(--violet-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.benefits-item {
  width: calc((100% - 176px) / 3);
  position: relative;
}

.benefits-item::before {
  content: "";
  display: block;
  width: 62px;
  height: 62px;
  border: 1px solid var(--white-color-transparent);
  border-radius: 50%;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-item:first-child:before {
  background-image: url("../icons/chocolate-bar.svg");
}

.benefits-item:nth-child(2):before {
  background-image: url("../icons/coin.svg");
}

.benefits-item:last-child:before {
  background-image: url("../icons/spoon.svg");
}

.benefits-item:not(:last-child):after {
  position: absolute;
  content: "";
  right: -18px;
  top: 60px;
  height: 124px;
  width: 1px;
  background-color: var(--white-color-transparent);
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white-color);
  margin-bottom: 18px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color-transparent);
}

/** --------------------- PRODUCTS --------------------- */
.products {
  padding: 100px 0;
}

.products-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.products-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  gap: 19px;
}

.products-item {
  width: calc((100% - 19px * 3) / 4);
  border-radius: 15px;
  padding: 28px 36px 28px 28px;
  position: relative;
  overflow: hidden;
}

.products-item:first-child {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.products-item:nth-child(even) {
  background-color: var(--white-color);
  border: 1px solid var(--accent-color);
}

.products-item:nth-child(3) {
  background-color: var(--violet-color);
  border: 1px solid var(--violet-color);
}

.products-item:hover .products-cover-block {
  transform: translateX(0);
}

.products-cover-block {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  border-radius: 12px;
  height: 100%;
  background-color: var(--white-color);
  transform: translateX(-100%);
  transition: transform 500ms linear;
}

.products-cover-title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.22;
  margin-bottom: 8px;
  letter-spacing: -0.03em;
}

.products-cover-text {
  font-size: 14px;
  line-height: 1.29;
}

.cover-buttons-list {
  display: flex;
  margin-bottom: 14px;
  gap: 6px;
}

.cover-product-button {
  color: var(--white-color);
  font-size: 10px;
  line-height: 1.2;
  background-color: var(--accent-color);
  padding: 6px 16px;
  border-radius: 35px;
}

.cover-benefit-button {
  color: var(--black-color);
  font-size: 10px;
  line-height: 1.2;
  background-color: var(--bcg-body-color);
  border: 1px solid var(--accent-color);
  padding: 6px 16px;
  border-radius: 35px;
}

.products-image {
  margin-bottom: 36px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.products-subtitle.light {
  color: var(--white-color);
}

.products-subtitle.dark {
  color: var(--black-color);
}

/** --------------------- MADE --------------------- */
.made {
  padding-bottom: 100px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.made-content {
  padding: 32px;
  background-color: var(--white-color);
  border-radius: 15px;
  border: 1px solid var(--accent-color);
}

.made-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0;
  margin-bottom: 28px;
  max-width: 350px;
}

.made-list {
  /* max-width: 452px; */
  padding-left: 16px;
}

.made-item {
  position: relative;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-item::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid ECEDED;
  border-radius: 50%;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  max-width: 410px;
}

/** --------------------- LOVED --------------------- */
.loved {
  padding-bottom: 100px;
}

.loved-title {
  margin-bottom: 90px;
}

.loved-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.loved-item {
  width: calc((100% - 28px * 2) / 3);
  background-color: var(--white-color);
  border-radius: 15px;
  border: 1px solid var(--accent-color);
  padding: 56px 24px 24px 24px;
  position: relative;
}

.loved-image {
  position: absolute;
  border-radius: 50%;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.loved-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.loved-feedback {
  font-size: 14px;
  line-height: 1.29;
  color: var(--black-color-transparent);
  text-align: center;
}

.loved-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--black-color);
  padding: 14px 40px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  transition: background-color var(--animation-set), color var(--animation-set);
}

.loved-button:hover,
.loved-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/** --------------------- FOOTER --------------------- */
.footer {
  background-color: var(--violet-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-title {
  font-size: 28px;
  line-height: 1.21;
  color: var(--white-color);
  max-width: 300px;
}

.footer-title span {
  color: var(--accent-color);
}

.footer-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: var(--white-color);
  margin-bottom: 14px;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  color: var(--white-color);
  transition: color var(--animation-set);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-menu {
  display: flex;
  gap: 24px;
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  transition: color var(--animation-set);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-color);
}


/** --------------------- MODAL --------------------- */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #D9D9D980;
  transition: opacity var(--animation-set), visibility var(--animation-set);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation-set);
  width: 520px;
  min-height: 694px;
  background-color: var(--bcg-body-color);
  border-radius: 15px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-modal-button {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 24px;
  top: 24px;
  border: none;
  background-color: transparent;
}

.close-icon {
  stroke: var(--black-color);
  transition: stroke var(--animation-set);
}

.close-icon:hover,
.close-icon:focus {
  stroke: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 40px;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  border: 1.5px solid rgba(17, 17, 17, 0.2);
  border-radius: 13px;
  background-color: transparent;
  padding-left: 62px;
  padding-right: 24px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #404040;
  outline: transparent;
  transition: border-color var(--animation-set);
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.30);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
}

.input-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke var(--animation-set);
  stroke: #404040;
}

/* .modal-input:valid {
  background-color: green;
}
.modal-input:invalid {
  background-color: red;
} */

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus+.input-icon {
  stroke: var(--accent-color);
}

.modal-textarea {
  height: 137px;
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.2);
  border-radius: 13px;
  background-color: transparent;
  padding: 22px 24px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #404040;
  outline: transparent;
  resize: none;
}